.airdropstartview {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background: linear-gradient( to top right, var(--ion-color-primary), var(--ion-color-primary), rgb(154, 78, 174), rgb(154, 78, 174));
    background-size: 300%;
    animation: purpanimation 15s linear infinite alternate;

  
    .tokentype{
        color:#5d6969;
        font-size: 15px;
        padding:10px;
        font-family: mntsreg;
        text-transform: uppercase;
    }

    .smallline{
        height:3px;
        width:50px;
        background: #fff;
        margin:0px auto;
        margin-bottom: 10px;
    }
    .purpbox {
        background: #fff;
        height: 300px;
        background-size: 300%;  
    }

    @keyframes purpanimation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

    .purpheader {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding: 10px 0px;
    }

    .goback {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }

    .gobackicon {
        height: 32px;
        width: 32px;
        color: #fff;
    }
    .centerdiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        background-image: url(../../assets/images/surreal_white.svg);
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .noti {
        height: 23px;
        width: 23px;
        color: white;
    }
    .noticont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .balancetext {
        font-size: 17px;
        font-family: mntssemibold;
        text-align: center;
        padding:10px 20px;
        letter-spacing: 0.05em;
        color:#fff;
        margin-top:20px;
    }

    .smallline{
        height:3px;
        width:50px;
        background:#fff;
        margin:0px auto;
        margin-bottom: 10px;
    }

    .sahgbox{
        color:white !important;
        margin:20px 10px;
        border-radius:7px;  

        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.1px);
        -webkit-backdrop-filter: blur(2.1px);
        border: 1px solid rgba(255, 255, 255, 0.07);
        height: auto;
      
    }

    .youdo{
        padding:10px 20px;
        font-family: mntssemibold;
        text-transform: uppercase;
    }

    .slashings{
        display:grid;
        grid-template-columns: 55% 30% 15%;
    }

    .valueinput{
        padding:10px 15px;
        padding-top:0px;
        color:white;
        border:none;
        background:transparent ;
        font-size:30px;
        font-weight: bold;
        font-family: mntssemibold;
    }

    .ximgcont{
        height:50px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .tokenimg{
        height:50px;
        width:50px;
        border-radius:50%;
        margin-right: 10px;
    }

    .tokenname{
        font-family: mntssemibold;
    }

    .downbtn{
        font-family: mntssemibold;
        height:50px;
        font-weight: bold;
        color:#fff;
        font-size:25px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .conver{
       overflow: hidden;
    }

    .converclass{
        height:40.5px;
        padding:5px 20px;
        display:flex;
        align-items: center;
        float: left;
    }

    .conversign{
        font-size: 25px;
    }

    .convertext{
        font-family:mntsreg;
    }

    .coinbal{
        height: 40.5px;
        padding:5px 20px;
        display:flex;
        align-items: center;
       float:right;
       font-family: mntsreg;
    }

    .exd{
        font-size: 25px;
    }

    .exchangecirc{
       display: flex;
       justify-content: center;
align-items: center;
       width:40px;
        height:40px;
        border:1px solid #fff;
        border-radius: 50%;
        position: relative;
        margin:10px auto;
    }

    .exchangecirc::before{
        content: '';
    position: absolute;
    width: 41.5vw;
    height: 1px;
    right:40px;
    display: block;
    clear: both;
    background-color: #fff;
    }

    .exchangecirc::after{
        content: '';
    position: absolute;
    width: 41.5vw;
    height: 1px;
    left:40px;
    display: block;
    clear: both;
    background-color: #fff;
    }



.buttonbelow{
    padding:30px 10px;
}

.whitebtn{
    color:var(--ion-color-secondary);
    padding:20px;
    background:white;
    border: none;
    border-radius: 10px;
width: 100%;
text-transform: uppercase;
font-family:mntssemibold;
letter-spacing: 0.05em;
}

.faded{
    opacity:0.5;
}

::-webkit-input-placeholder { /* Edge */
    color: #f2f2f2;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f2f2f2;
  }
  
  ::placeholder {
    color: #f2f2f2;
  }



}