<ion-content>
  <div class="airdropstartview">


    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
        <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
    </div>
      <div class="centerdiv">
        <div class="logo"></div>
      </div>
      <div></div>
    </div>
  
  <div class="balancetext">Earn From App Launch</div>
  <div class="smallline"></div>

  <div class="titletext">
    Earn Up To $100 From Our App Launch Giveaway/Airdrop
  </div>

  <div class="endingin">Giveaway/Airdrop is ending in</div>

  <div class="countd" id="countdown" *ngIf="countdown">
    <div class="cdt" id="days">{{days}}</div>
    <div class="cdt" id="hours">{{hours}}</div>
    <div class="cdt" id="mins">{{minutes}}</div>
    <div class="cdt" id="secs">{{seconds}}</div>
</div>


  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>

  </div>


  </ion-content>