<ion-content>

    <div class="confirmtxview view {{wallet.appPlatform}}">

        <div class="purpheader">
            <div class="goback" (click)="router.goBack()">
                <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
            </div>
            <div class="centerdiv">
                <div class="logo"></div>
            </div>
            <div></div>
        </div>

        <div class="balancetext">Transfer</div>
        <div class="smallline"></div>

        <div class="nother">
            <div class="txvalue"><span>-</span>{{refinedTxData.amount}} {{refinedTxData.token.symbol}}</div>

            <div class="swapiconbox">
                <ion-icon name="swap-vertical-outline" class="exd"></ion-icon>
            </div>

            <div class="usdval">$ {{refinedTxData.amountUsd}}</div>
        </div>

        <div class="txbox">
            <div class="eachdet">
                <span class="lspan">Asset</span>
                <span class="rspan">{{refinedTxData.token.name}}({{refinedTxData.token.symbol}})</span>
            </div>

            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">From</span>
                <div class="rspan statussh">

                    <div>
                        <span>{{refinedTxData.shortFrom}}</span>
                    </div>
                </div>

            </div>

            <hr class="detline">

            <div class="eachdet">


                <span class="lspan">To</span>
                <span class="rspan">{{refinedTxData.shortTo}}</span>




            </div>




        </div>



        <div class="txbox">


            <div class="eachdet">
                <span class="lspan">Network Fee</span>
                <span class="rspan">{{refinedTxData.networkFee}} {{refinedTxData.baseChain.symbol}} (${{refinedTxData.networkFeeUsd}})</span>
            </div>
            <hr class="detline">
            <div class="eachdet">
                <span class="lspan">Max Total</span>
                <span class="rspan">{{refinedTxData.maxTotal}} {{refinedTxData.token.symbol}} (${{refinedTxData.maxTotalUsd}})</span>
            </div>

        </div>




        <div class="buttonbelow">
            <div class="erroreligibility" *ngIf="refinedTxData.eligibility.reason=='low_network_fees'">
                You don't have enough {{refinedTxData.baseChain.name}} ({{refinedTxData.baseChain.symbol}}) to cover <b>{{refinedTxData.networkFee}} {{refinedTxData.baseChain.symbol}}</b> (${{refinedTxData.networkFeeUsd}}) network fees
            </div>
            <button class="whitebtn" (click)="confirmTx()">


                <span *ngIf="refinedTxData.eligibility.status==false && refinedTxData.eligibility.reason=='low_network_fees'">Top Up {{refinedTxData.baseChain.name}} ({{refinedTxData.baseChain.symbol}}) </span>
                <span *ngIf="refinedTxData.eligibility.status==true">Confirm</span>
               
            </button>
        </div>


    </div>





</ion-content>