

<ion-content>

  <div class="receivingselectview">
      <div class="header">
          <div class="goback" (click)="router.goBack()">
              <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
          </div>
          <div class="searchtoken">
              <input class="searchinput" [(ngModel)]="searchinput" (keyup)="searchToken(searchinput)" type="text" placeholder="Search for tokens.." autocomplete="off">
          </div>
      </div>

      <div class="addtokenbody" *ngIf="!searching">

        <div class="titlebox">
          Select token to receive
        </div>

          <div class="fadedtext">My Tokens ({{mytokens.length}})</div>

          <div class="tokentab">

              <ng-container *ngFor="let token of mytokens">
                  <div class="eachtoken" *ngIf="token !==''" (click)="receiveToken(token.name,token.type)" >
                      <div class="imgcirc">
                          <img src="{{token.img || token.logoURI}}" class="tokenimg">
                      </div>
                      <div class="tokenname">{{token.name}}<br>
                          <div class="tokentype">{{token.type}}</div>
                      </div>
                    


                  </div>
              </ng-container>

          </div>


          <div class="fadedtext">Tokens</div>

          <div class="tokentab">

              <ng-container *ngFor="let token of reducedtokens">
                  <div class="eachtoken" *ngIf="!searchMyTokens(token.name)" (click)="receiveToken(token.name,token.type)">


                      <div class="imgcirc">
                          <img src="{{token.img || token.logoURI}}" class="tokenimg">
                      </div>
                      <div class="tokenname">{{token.name}}<br>
                          <div class="tokentype">{{token.type}}</div>
                      </div>
                      



                  </div>
              </ng-container>


              <div class="eachtoken lefttokens">
                  {{alltokens.length-reducedtokens.length}} more tokens,search for tokens above.
              </div>
          </div>



      </div>

      <div class="addtokenbody" *ngIf="searching">

          <div class="fadedtext">Found ({{searchedTokens.length}})</div>

          <div class="tokentab">

              <ng-container *ngFor="let token of searchedTokens">
                  <div class="eachtoken"  *ngIf="token !==''" (click)="receiveToken(token.name,token.type)">
                      <div class="imgcirc">
                          <img src="{{token.img || token.logoURI}}" class="tokenimg">
                      </div>
                      <div class="tokenname">{{token.name}}<br>
                          <div class="tokentype">{{token.type}}</div>
                      </div>
                     
                  </div>
              </ng-container>

          </div>



      </div>









  </div>

</ion-content>


