<ion-content>
  <div class="walletinfoview view {{wallet.appPlatform}}">
  
    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
          <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
          <div class="logo"></div>
      </div>
      <div></div>
  </div>

  <div class="balancemodalbox">
    <div class="balancemodal">
      
       
        <div class="balancetext" style="font-size: 15px;">Wallet Info</div>
    <br>
        <div class="smallline"></div>
<br>
    </div>
</div>

<div class="fullbox">

  <div class="inputbox">
    <input class="input"(input)="checkWalletName()" [(ngModel)]="createData.walletname" type="text" required>
    <span class="floating-label">Edit Name</span>
</div>
 
  </div>

  <div class="fullbox" *ngIf="checknameflag==true">
  <button class="smddbtn" (click)="savewalletname()">Save Wallet Name</button>
</div>
<div class="optionbox">


  <div class="eachoption opttwo">
   
    <div class="opttext">Wallet Type</div>

    <div class="nemonicname">{{info.walletType}}</div>
</div>


  <div class="eachoption optone" *ngIf="info.walletType=='Mnemonic'" (click)="router.naviTo(['/exportwallet',info.walletid])">
     
      <div class="opttext">Export Mnemonic Phrase</div>

      <div class="optnext totheright">
          <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
  </div>

  <div class="eachoption optone" *ngIf="info.walletType=='Private Key'" (click)="router.naviTo(['/exportwallet',info.walletid])">
     
    <div class="opttext">Export Private Key</div>

    <div class="optnext totheright">
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
</div>



</div>



<div class="buttonbelow">
  <button class="whitebtn" (click)="deletePop(info.walletid)">Remove Wallet</button>
</div>


  
  
  </div>
</ion-content>
