<ion-content>
  <div class="sharetextcontentview view {{wallet.appPlatform}}" id="sharetextcontentview">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack()">
              <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>

      <div class="balancetext" style="font-size: 16px;">My Referral Info</div>

      <div class="smallline" style="margin-top:10px"></div>
      
      <div class="ximagecontainer">
     
       <div class="cdowndiv">
        <div class="messagetext">
          {{airdrop.shareMessage}}
        </div>
        <div class="rcursion">
          Copy your referral code and share to friends to use when joining giveaway
        </div>
       </div>
      </div>

      <div class="addmorecont">
        <button class="addmorebtn" (click)="shareText()">Copy Code</button>
      </div>
     
      </div>

  </ion-content>
