<ion-content [fullscreen]="true">
    <div class="juncview view">

        <div class="centerdiv">
            <div class="applogo"></div>

            <!--
         <div class="circloading">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="loadingtext">Loading App</div>
            -->

            <div class="surrealtitle">Surreal Wallet</div>

            <div class="ldrbox">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
   
        </div>

    </div>
</ion-content>