<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="margin-top: 50px;">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="showtokenview view {{wallet.appPlatform}}" id="showtokenview">

        <div class="purpheader">
            <div class="goback" (click)="router.goBack('/account')">
                <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
            </div>
            <div class="centerdiv">
                <div class="logo"></div>
            </div>
            <div></div>
        </div>

        <div class="balancemodalbox">
            <div class="balancemodal">
                <div class="tokentype">
                    <span style="float:left;font-size: 13px;"> {{mytoken.name}} ({{mytoken.type}})</span>
                    <span style="float:right;font-size: 13px;color:var(--ion-color-primary)">${{mytoken.usdprice | number}} / {{mytoken.symbol}} </span>
                </div>
                <div class="imgcirc">
                    <img src="{{mytoken.img || mytoken.logoURI}}" class="tokenimg">
                </div>
                <div class="balancetext">{{mytoken.coinbalance}} {{mytoken.symbol}}</div>
                <div class="smallbaltext">(${{mytoken.usdbalance | number}})</div>


                <div class="smallline"></div>



            </div>
        </div>

        <div class="outacttab">
            <div class="actiontab">
                <div class="eachaction" [routerLink]="['/sendtoken',mytoken.name,mytoken.type]">
                    <ion-icon name="push-outline" class="actionicon"></ion-icon>
                    Send
                </div>
                <div class="eachaction" [routerLink]="['/receivetoken',mytoken.name,mytoken.type]">
                    <ion-icon name="download-outline" class="actionicon"></ion-icon>
                    Receive
                </div>
            </div>
        </div>

        <div class="tokentype" style="padding:20px;">Transactions
        </div>

        <div class="loaderbox" *ngIf="wallet.txloader==true">
            <div class="loader"></div>
        </div>




        <div *ngIf="pendingTxs.length >= 1">
            <ng-container *ngFor="let eachtx of pendingTxs?.reverse()">

                <div class="eachtx" *ngIf="eachtx != '' " [ngClass]="eachtx.type" (click)="showTx(eachtx)">
                    <div class="iconbox">
                        <ion-icon name="time-outline" class="icondet pendingicon"></ion-icon>

                    </div>

                    <div class="detbox">
                        <div><span class="txtransferin">Pending Transfer In</span><span class="txtransferout">Pending Transfer Out</span></div>
                        <div class="det"><span class="txfrom">From: {{eachtx.shortFrom}}</span><span class="txto">To: {{eachtx.shortTo}}</span></div>
                    </div>

                    <div class="txamount">
                        <span class="txplussign">+</span>
                        <span class="txminussign">-</span>{{eachtx.tokenvalue}}&nbsp;<span>{{mytoken.symbol}}</span>
                    </div>


                </div>
            </ng-container>
        </div>




        <div *ngIf="txs.length >= 1">
            <ng-container *ngFor="let eachtx of txs">

                <div class="eachtx" [ngClass]="eachtx.type" (click)="showTx(eachtx)">
                    <div class="iconbox">
                        <ion-icon class="icondet downarrow" name="arrow-down-outline"></ion-icon>
                        <ion-icon class="icondet uparrow" name="arrow-up-outline"></ion-icon>
                    </div>

                    <div class="detbox">
                        <div><span class="txtransferin">Transfer In</span><span class="txtransferout">Transfer Out</span></div>
                        <div class="det"><span class="txfrom">From: {{eachtx.shortFrom}}</span><span class="txto">To: {{eachtx.shortTo}}</span></div>
                    </div>

                    <div class="txamount">
                        <span class="txplussign">+</span>
                        <span class="txminussign">-</span>{{eachtx.tokenvalue}}&nbsp;<span>{{mytoken.symbol}}</span>
                    </div>


                </div>

            </ng-container>

        </div>


        <ng-container *ngIf="wallet.txloader==false">
            <div class="centerbox" *ngIf="txs.length <= 0">
                <div class="emptybox">

                </div>
                <div class="fadedtext">No transactions yet</div>
            </div>
        </ng-container>










        <div class="slidertab">





        </div>



    </div>
</ion-content>