<ion-content>
  <div class="menuview">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack()">

          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>


      <div class="balancetext">Menu</div>

                <div class="smallline"></div>


                <ng-container *ngIf="airdrop_metadata.airdrop_can_start=='true' && airdropWallet==true ">

                  <ng-container *ngIf="airdrop_data != null && airdrop_data.status">

                    <div class="designbox">
                      <div>Giveaway/Airdrop Earnings</div>
                      <div class="line"></div>

                      <div class="progressbox">

                        <div class="balance">
                          <div>
                            <span class="tprogress">Earnings Balance</span>
                            <div class="dollars">${{airdrop_data.usdtbalance}}.00</div>
                          </div>
                         
                          <div>
                            <button class="whitebtn" (click)="router.naviTo(['/airdrop'])">Dashboard <ion-icon name="chevron-forward-outline" class="larr"></ion-icon></button>
                          </div>
                         
                        </div>

                        <div class="progressbox">
                          <span class="tprogress">Tasks progress</span>
                          <div class="x2">
                            <div class="xtextr">{{airdrop_data.progress}}%</div>
                            <div class="pbox">
                              <div class="prg" [ngStyle]="progressSize(airdrop_data.progress)"></div>
                           </div>
                          </div>
                         
                     
                        </div>



                        <!-- <div class="set-size charts-container">
                        
                        
                          <div class="pie-wrapper progress-xx style-2" >
                            <span class="label">{{airdrop_data.progress}}<span class="smaller">%</span></span>
                            <div class="pie" #pie >
                              <div class="left-side half-circle" #leftside></div>
                              <div class="right-side half-circle" #rightside ></div>
                            </div>
                            <div class="shadow"></div>
                          </div>

                          <span class="tprogress">Tasks progress</span>
                     
                        
                  
                        </div> -->

                        

                    

                      </div>

                      

                    </div>


                  </ng-container>

                  <ng-container  *ngIf="airdrop_data==null || airdrop_data==''">
                    <div class="designbox">
                      <div>Earn From Surreal Wallet Giveaway/ Airdrop</div> 
     
                      <div class="getstartedbtn" (click)="router.naviTo(['/airdropstart'])">
                       <div class="getstartedtext">Get Started</div> <div class="leftarrw"><ion-icon name="chevron-forward-outline"></ion-icon></div>
                      </div>
     
                     </div>
                  </ng-container>


                
                </ng-container>
            

                <div class="menugrid">
                  <div class="eachmenu" (click)="router.naviTo(['/swaptoken'])">
<div class="xcarr"></div>
<div class="xsarr">Swap Assets</div>
                  </div>

                  <div class="eachmenu" (click)="openLink('https://etherscan.io')">
                    <div class="etherscarr"></div>
                    <div class="xsarr">Etherscan</div>
                    </div>


                    <div class="eachmenu" (click)="openLink('https://binance.com')">
                      <div class="buycrypto"></div>
                      <div class="xsarr">Buy Crypto</div>
                      </div>






                </div>

               

      </div>
      </ion-content>