<ion-content>
  <div class="menuview">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack()">

          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>


      <div class="balancetext">Menu</div>

                <div class="smallline"></div>


                <ng-container *ngIf="airdrop.can_start==true">

                  <ng-container *ngIf="airdrop.data != null && airdrop.data.status">
down down mr loving
                  </ng-container>

                  <ng-container  *ngIf="airdrop.data==null">
                    <div class="designbox">
                      <div>Earn From Surreal Wallet Giveaway/ Airdrop</div> 
     
                      <div class="getstartedbtn" (click)="router.naviTo(['/airdropstart'])">
                       <div class="getstartedtext">Get Started</div> <div class="leftarrw"><ion-icon name="chevron-forward-outline"></ion-icon></div>
                      </div>
     
                     </div>
                  </ng-container>


                
                </ng-container>

            

                <div class="menugrid">
                  <div class="eachmenu" (click)="router.naviTo(['/swaptoken'])">
<div class="xcarr"></div>
<div class="xsarr">Swap Assets</div>
                  </div>

                  <div class="eachmenu" (click)="openLink('https://etherscan.io')">
                    <div class="etherscarr"></div>
                    <div class="xsarr">Etherscan</div>
                    </div>


                    <div class="eachmenu" (click)="openLink('https://binance.com')">
                      <div class="buycrypto"></div>
                      <div class="xsarr">Buy Crypto</div>
                      </div>






                </div>

               

      </div>
      </ion-content>