<ion-content>
  <div class="menuview">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack()">

          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>


      <div class="balancetext">Menu</div>

                <div class="smallline"></div>


                <div class="designbox">
                  Earn From Surreal Wallet's Giveaway/ Airdrop
                </div>

      </div>
      </ion-content>