.menuview {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background: var(--ion-background-color);
    .purpbox {
        background: #fff;
        height: 300px;
        background-size: 300%;
        animation: purpanimation 15s linear infinite alternate;
    }
    .purpheader {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding: 10px 0px;
    }
    .goback {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }
    .gobackicon {
        height: 32px;
        width: 32px;
        color: var(--ion-color-secondary);
    }
    .centerdiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        background-image: url(../../assets/images/surreal_purple.svg);
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .noti {
        height: 23px;
        width: 23px;
        color: white;
    }
    .noticont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balancemodalbox {
        padding: 0px 20px;
    }
    .baltitle {
        padding: 10px;
        padding-bottom: 0px;
        font-size: 11px;
        font-family: mntssemibold;
        font-weight: bold;
        text-align: center;
        opacity: 0.5;
        text-transform: uppercase;
        color: #000;
    }
    .balancetext {
        font-size: 15px;
        font-family: mntssemibold;
        padding: 13px;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    .titletext {
        font-size: 14px;
        font-family: mntssemibold;
        padding: 10px;
    }
    .balancemodal {
        background: var(--ion-color-secondary);
        border-radius: 10px;
    }

    .designbox{
        padding:20px;
        border-radius: 10px;
        color:white;
        margin:20px 10px;
        margin-bottom:0px;
        font-size: 16px;
        font-weight: bold;
        font-family: mntssemibold;
        background: linear-gradient( to bottom right, var(--ion-color-primary), var(--ion-color-primary), rgb(154, 78, 174));
    }

    @keyframes purpanimation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

    .waltype {
        padding: 10px;
        padding-top: 0px;
        font-size: 10px;
        font-family: mntssemibold;
        font-weight: bold;
        text-align: center;
        opacity: 0.4;
        text-transform: uppercase;
        color: white;
    }
    .allwall {
        background: rgba(154, 78, 174, 0.3);
        margin: 10px 0px;
        border-radius: 10px;
        text-align: center;
        font-size: 11px;
        font-family: mntssemibold;
        padding: 10px 0px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    .optionbox {
        padding: 0px 10px;
        margin: 30px 0px;
    }
    .eachoption {
        padding: 15px 10px;
        margin: 10px 0px;
        display: grid;
        grid-template-columns: 15% 75% 10%;
        border-radius: 10px;
        box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
    }
    .opticon {
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .opttext {
        display: flex;
        align-items: center;
        font-family: mntssemibold;
        font-size: 13px;
    }
    .optnext {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-secondary);
        font-size: 20px;
        font-weight: bold;
        font-family: mntssemibold;
    }

    .smallline {
        height: 3px;
        width: 50px;
        background: var(--ion-color-secondary);
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .getstartedbtn{
        border-radius:20px;
        background:#fff;
        font-size:13px;
        color:#000;
        width:170px;
        padding:7px 20px;
        margin:25px 0px;
        margin-bottom: 10px;
       display: grid;
       grid-template-columns: 80% 20%;
       align-items: center;
    }

    .leftarrw{
        height:20px;
        width:20px;
        font-size: 20px;
        justify-self: end;
    } 

    .menugrid{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:5px;
        margin-top: 30px;
    }

    .eachmenu{
        padding:10px;
        border-radius: 10px;
        color:white;
        margin:10px 10px;
        font-size: 13px;
        font-family: mntssemibold;
        background: linear-gradient( to bottom right, var(--ion-color-primary), var(--ion-color-primary), rgb(154, 78, 174));

    }

    .xcarr{
        background-image: url(../../assets/images/swap.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height:32px;
        width: 32px;
        margin:10px auto;
    }

    .etherscarr{
        background-image: url(../../assets/images/ethereum.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height:32px;
        width: 32px;
        margin:10px auto;
    }

    .xsarr{
        margin-top: 20px;
        text-align: center;
    }

    .buycrypto{
        background-image: url(../../assets/images/buycrypto.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height:32px;
        width: 32px;
        margin:10px auto; 
    }

    .line{
        width:50px;
        height:3px;
        background-color: #fff;
        margin-top:10px;
    }



    .tprogress{
      font-size: 13px;
      font-family: mntsreg;
  }
  
  
  .progressbox{
     // display:grid;
      //grid-template-columns:37% 63%;
      margin-top: 10px;
  }
  
  .dollars{
      font-size: 25px;
      padding: 10px;
      font-family: mntssemibold;
  }
  
  .whitebtn{
      padding: 7px 20px;
      color:#000;
      background:#fff;
      font-size:13px;
      border-radius:20px;
      font-family: mntssemibold;
      width: 100%;
      text-align:center;
      border:none;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  
  
  .balance{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  }
      
  .larr{
    font-size: 15px;
    
    margin-left:7px;
  }
  
  .pbox{
    height:10px;
    border-radius:20px;
    background: rgba(0,0,0,0.3);
    width:85%;
    position: relative;
    
  }
  
  .x2{
    display:flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .xtextr{
    font-size: 14px;
    color:#fff;
    font-family: mntssemibold;
    padding: 10px;
   padding-right: 20px;
  }
  
  .prg{
    position: absolute;
    height:10px;
    border-radius:20px;
    background: #fff;
    transition: 0.5s;
  }
  

}


