<ion-content>
  <div class="verifyphraseview">
  
    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
          <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
          <div class="logo"></div>
      </div>
      <div></div>
  </div>

  <div class="balancemodalbox">
    <div class="balancemodal">
      
       
        <div class="balancetext" style="font-size: 14px;">Verify Secret Phrase</div>
   
        <div class="smallline"></div>

    </div>
    </div>

    <div class="textup">
     Tap the words to put them next to each other in the correct order
    </div>

    <div class="inputbox">
      <ng-container *ngFor="let obj of selectedWords;let indexOfelement=index;">
        <div class="eachwordtwo" [ngClass]="{'rightselect':obj.correctselect==true,'wrongselect':obj.correctselect==false}"><div>{{indexOfelement+1}}</div><div>{{obj.word}}</div><div class="cxlo" (click)="removeWord(obj)">x</div></div>
      </ng-container>
    </div>

    <div class="wordsbox">
      <ng-container *ngFor="let obj of shuffledWords;">
        <div class="eachword" [ngClass]="{'selectedword':obj.alreadyselected==true}" (click)="selectWord(obj)"><div>{{obj.word}}</div></div>
      </ng-container>
     </div>

  

      <br><br>
      <br><br>
      <br><br>

      <div class="buttonbelow">
        <button class="whitebtn" [ngClass]="{'faded':completeflag==false}" (click)="doneverify()">Continue</button>
    </div>


    </div>
    </ion-content>




    
