<div class="blackoverl" (click)='popUp.close();' [ngClass]="{'overlshow':popUp.popopened,'lightoverl':popUp.transparent,'opaqueoverl':!popUp.transparent}">
</div>

<div class="popupdiv popupshadow" #popupdiv [ngClass]="{'popshow':popUp.popopened,'popupmaxheight':popUp.height==='maxi','popupminiheight':popUp.height==='mini'}">
    <div class="popupdownbtn" (click)='popUp.close();'></div>

    <div *ngIf="popUp.search && popUp.type==='list'">
        <div popupsearchdiv>
            <input class="popsearch" [(ngModel)]="searchdata" (keyup)="popUp.searchlist(searchdata)" placeholder="Search..">
        </div>
    </div>

    <div *ngIf="popUp.type==='list'" class="popupoptions">

        <div class="listtitle">{{popUp.listtitle}}</div>

        <div *ngFor="let data of popUp.currentlist;" class="popuplist" >

            <div class="selectBox" (click)="listfunc(popUp.listaction,data)">
                <div class="eachselect" *ngIf="data.selected==true"></div>
            </div>
          
            <div *ngIf='popUp.listimg' class="iconpop" style="background-image: url({{data.imgurl}});" (click)="listfunc(popUp.listaction,data)"></div>
            <div class="textopt" (click)="listfunc(popUp.listaction,data)"> {{data.listname}} 
                <br>
                <span class="xach">{{data.othername}}</span>
            </div>

            <div *ngIf="popUp.settingsflag==true" class="popsettings" (click)="runnAction(popUp.settingsFunc,data.value)">
                <ion-icon name="settings-outline" class="popicon"></ion-icon>
            </div>

            <div class="toggler" *ngIf="popUp.listswitch==true" [ngClass]="{'toggleractive':data.switch}" >
                <div class="outerswitch">
                    <div class="innercircle"></div>
                </div>
            </div>

           

        </div>

        <div *ngIf="popUp.currentlist.length <= 0" class="notfoundpop">
            Not Found!
        </div>
        <div class="actionspace"  *ngIf="popUp.outfunction==true || popUp.messageactions"></div>
    </div>

    <div *ngIf="popUp.type==='message'" class="popupmessage">

        <div *ngIf="popUp.messageimg" [ngClass]="{'pimg_anim':popUp.messageimg}" style="background-image: url({{popUp.messageimgurl}});" class="popupimg">

        </div>

        <div class="poptitle">
            {{popUp.messagetitle}}
        </div>

        <div class="poptext">
            {{popUp.message}}
        </div>

        <div class="popaction" *ngIf="popUp.messageactions">
            <div class="popactionone" (click)="popUp.close()">Cancel</div>
            <div class="popactiontwo" (click)="messagefunc(popUp.messageaction,true)">{{popUp.messageactionname}}</div>
        </div>

        <div class="actionspace"  *ngIf="popUp.outfunction==true || popUp.messageactions"></div>
    </div>

    
        <div class="popaction" *ngIf="popUp.outfunction==true">
            <div class="popactionone" (click)="popUp.close()">Close</div>
            <div class="popactiontwo" (click)="runnAction(popUp.outsideAction)">{{popUp.outActionName}}</div>
        </div>

   
   
   

</div>