<ion-content>

    <div class="viewnftview">

        <div class="purpheader">
            <div class="goback" (click)="router.goBack()">
                <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
            </div>
            <div class="centerdiv">
                <div class="logo"></div>
            </div>
            <div></div>
        </div>

        <div class="balancetext">{{currentNft.name}}</div>
        <div class="smallline"></div>

        <div class="cardplace">

            <swiper [config]="config" #swiper (slideChange)="updatecurrindex($event)">

                <ng-template *ngFor="let nft of nfts;" swiperSlide>



                    <div class="eachnft" [ngClass]="{'nftskeletonloading':nft.media_status=='unloaded','nftloaded':nft.media_status=='loaded','nftimgerror':nft.media_status=='error'}">

                        <img class="nftimg" *ngIf="nft.media_type=='image'" src="{{nft.loaded_media}}">

                        <video class="nftvideo" *ngIf="nft.media_type=='video'" autoplay="autoplay" loop>
                          <source src="{{nft.loaded_media}}" type="video/mp4">
                      </video>

                        <div class="nfterror">
                            <ion-icon name="cloud-offline" class="cloud-offline"></ion-icon>
                        </div>
                    </div>




                </ng-template>
            </swiper>

        </div>


        <div class="txbox">
            <div class="eachdet">
                <span class="lspan">Name</span>
                <span class="rspan">{{currentMetadata.name}}</span>
            </div>


            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Token Id</span>
                <div class="rspan statussh" (click)="copyStr(currentNft.token_id)">
                    {{currentNft.token_id}}
                </div>

            </div>

            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Token Contract</span>
                <div class="rspan statussh" (click)="copyStr(currentNft.token_address)">
                    {{currentNft.shortAddress}}
                </div>

            </div>

            <hr class="detline">


            <div class="eachdet">


                <span class="lspan">Type</span>
                <div class="rspan">{{currentNft.contract_type}}</div>





            </div>




        </div>

        <div class="tesbox" (click)="router.naviTo(['/nft-txs',currentNft.token_address])">
            <div class="eachdet">

                <span class="lspan">View Transactions</span>
                <div class="rspan">
                    <ion-icon name="chevron-forward-outline" class="leftixx"></ion-icon>
                </div>

            </div>
        </div>

        <div class="viewblockexp" (click)="goToOpensea(currentNft.token_address,currentNft.token_id)">See More On Opensea</div>

        <div class="buttonbelow">
            <button class="whitebtn" (click)="sendCurrentNft()">Send Nft</button>
        </div>




        <div class="popupdiv popupshadow" #popupdiv [ngClass]="{'popshow':popUp.popopened,'popupmaxheight':popUp.height==='maxi','popupminiheight':popUp.height==='mini'}">
            <div class="popupdownbtn" (click)='closePop();'></div>
            <div class="popupmessage">



                <div class="poptitle">
                    {{popUp.messagetitle}}
                </div>

                <div class="poptext">
                    {{popUp.message}}
                </div>

                <div class="nftsenddet">


                    <div class="nftsendimg">
                        <img class="sendimg" src="{{popUp.imageurl}}" alt="">
                    </div>

                    <div class="nftsendmetadata">

                        <div class="neachmetadata">
                            <span class="ahan lft">Name</span>
                            <span class="ahan  rgt">{{nftToSend.name}}</span>
                        </div>

                        <div class="neachmetadata">
                            <span class="ahan lft">Token Id</span>
                            <span class="ahan rgt">{{nftToSend.token_id}}</span>
                        </div>

                    </div>



                </div>


                <div popupsearchdiv>
                    <input class="popsearch" (click)="pasteReceipient()" [(ngModel)]="NftSendingData.recipient" placeholder="Enter Recipient Address..">
                </div>






                <div class="popaction">
                    <div class="popactionone" (click)="closePop()">Cancel</div>
                    <div class="popactiontwo" (click)="confirmSend()">Continue</div>
                </div>


            </div>

        </div>

    </div>

</ion-content>