<ion-content>

  <div class="receivetokenview">

    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
        <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
        <div class="logo"></div>
      </div>
      <div></div>
    </div>

    <div class="balancetext">Receive {{mytoken.symbol}} <span style="text-transform: uppercase;" *ngIf="mytoken.type!='coin'">({{mytoken.type}})</span></div>
    <div class="smallline"></div>

     <div class="fullbox balbox">

       <div class="qrbox">
        <qr-code [value]="qrInfo" size="350"></qr-code>
           </div>
      
      </div>







    </div>


</ion-content>
