<ion-content>

  <div class="receivetokenview view">

    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
        <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
        <div class="logo"></div>
      </div>
      <div></div>
    </div>

    <div class="balancetext">Receive {{mytoken.symbol}} <span style="text-transform: uppercase;" *ngIf="mytoken.type!='coin'">({{mytoken.type}})</span></div>
    <div class="smallline"></div>

     <div class="fullbox balbox">

       <div class="qrbox" (click)="copyAddr()"> 
        <qr-code [value]="qrInfo" size="200"></qr-code>
        </div>

        <div class="addressbox" (click)="copyAddr()">{{mytoken.publickey}}</div>
      
      </div>
<br>
      <div class="addressbox" (click)="copyAddr()">Send only <b>{{mytoken.name}} ({{mytoken.type}})</b> to this address.<br>Sending any other coins may result in permanent loss.</div>

      <div class="threeopt">
<div class="eopt" (click)="copyAddr()">
  <ion-icon name="copy-outline" class="copybtn"></ion-icon>
</div>
<div class="eopttext">copy address</div>


      </div>







    </div>


</ion-content>
