<ion-content>
  <div class="airdropview view">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack()">
              <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>


      <div class="balancetext" style="font-size: 16px;">Earnings Dashboard</div>

      <div class="smallline" style="margin-top:10px"></div>


      <div class="xrac">
        <div class="baltitle">earnings balance</div>
       <div class="balancetext">${{airdrop_data.usdtbalance}}.00</div> 
      </div>

      <div class="drawbox">
        <button class="withdrawbtn">Withdraw To Wallet</button>
      </div>

      <div class="sectiontitle">Tasks</div>


      <div class="eachtask">
        <div class="xaflex">
          <div class="criccheck" [ngClass]="{'completedsign':tasksignup.status==true}">
            <ion-icon name="checkmark-outline" class="thecheck" *ngIf="tasksignup.status==true"></ion-icon>
           
          </div>
          <div class="cricname" *ngIf="tasksignup.status==true">completed</div>
          <div class="cricname" *ngIf="tasksignup.status==false">pending</div>
        </div>
        <div>Join Giveaway/Airdrop</div> 

        <div class="progressbox">
          <span class="tprogress">Task progress</span>
          <div class="x2">
            <div class="xtextr">{{tasksignup.progress}}%</div>
            <div class="pbox">
              <div class="prg" [ngStyle]="progressSize(tasksignup.progress)"></div>
           </div>
          </div>
         
     
        </div>
        
      </div>
      

      <div class="eachtask">
        <div class="xaflex">
          <div class="criccheck" [ngClass]="{'completedsign':taskrefer.status==true}">
            <ion-icon name="checkmark-outline" class="thecheck" *ngIf="taskrefer.status==true"></ion-icon>
           
          </div>
          <div class="cricname" *ngIf="taskrefer.status==true">completed</div>
          <div class="cricname" *ngIf="taskrefer.status==false">pending</div>
        </div>
        <div class="ref2friends">Refer {{taskrefer.totaltask }} Friends</div> 
        <span class="tprogress">Referred ({{taskrefer.noofprocessedtask}}/{{taskrefer.totaltask }}) friends</span>
        <div class="progressbox">
          <span class="tprogress">Task progress</span>
          <div class="x2">
            <div class="xtextr">{{taskrefer.totalprogress}}%</div>
            <div class="pbox">
              <div class="prg" [ngStyle]="progressSize(taskrefer.totalprogress)"></div>
           </div>

          
          </div>
         
     
        </div>

        <div class="referralbox">
          <button class="whitebtn" (click)="shareRef()">Share your referral info to friends</button>
         </div>
      </div>
      





      </div>

   

</ion-content>