<ion-content>
  <div class="airdropview view {{wallet.appPlatform}}">

      <div class="purpheader">
          <div class="goback" (click)="router.goBack('/account/menu')">
              <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
          </div>
          <div class="centerdiv">
              <div class="logo"></div>
          </div>
          <div></div>
      </div>


      <div class="balancetext" style="font-size: 16px;">Giveaway/Airdrop</div>

      <div class="smallline" style="margin-top:10px"></div>


      <div class="xrac">
        <div class="baltitle">earnings balance</div>
       <div class="balancetext">${{airdrop_data.usdtbalance}}.00</div> 
      </div>

      <div class="drawbox" *ngIf="airdrop_data.hasWithdrawn==false">
        <button class="withdrawbtn" (click)="withdrawEarnings()">Withdraw To Wallet</button>
      </div>

      <div class="airdropcomplete"  *ngIf="airdrop_data.hasWithdrawn==true">
         Your earnings has been sent to your crypto wallet,Check wallet balance to confirm your earnings.
      </div>

      <div class="sectiontitle">Tasks</div>

    

      <div class="undoneside">
        <div class="eachtask">
          <div class="xaflex">
            <div class="criccheck" [ngClass]="{'completedsign':tasksignup.status==true}">
              <ion-icon name="checkmark-outline" class="thecheck" *ngIf="tasksignup.status==true"></ion-icon>
              
            </div>
            <div class="cricname" *ngIf="tasksignup.status==true">completed</div>
            <div class="cricname" *ngIf="tasksignup.status==false">pending</div>
  
            <div *ngIf="tasksignup.status==true" class="amountearned">+{{tasksignup.amount}}</div>
          </div>
          <div>Join Giveaway/Airdrop</div> 
  
          <div class="progressbox">
            <span class="tprogress">Task progress</span>
            <div class="x2">
              <div class="xtextr">{{tasksignup.progress}}%</div>
              <div class="pbox">
                <div class="prg" [ngStyle]="progressSize(tasksignup.progress)"></div>
             </div>
            </div>
           
       
          </div>
          
        </div>
  
        <div class="eachtask" >
          <div class="xaflex">
            <div class="criccheck" [ngClass]="{'completedsign':taskjointg.status==true}">
              <ion-icon name="checkmark-outline" class="thecheck" *ngIf="taskjointg.status==true"></ion-icon>
              
            </div>
            <div class="cricname" *ngIf="taskjointg.status==true">completed</div>
            <div class="cricname" *ngIf="taskjointg.status==false">pending</div>
  
            <div *ngIf="taskjointg.status==true" class="amountearned">+{{taskjointg.amount}}</div>
          </div>
          <div>Follow Giveaway/Airdrop Updates On Telegram</div> 
  
          <div class="progressbox">
            <span class="tprogress">Task progress</span>
            <div class="x2">
              <div class="xtextr">{{taskjointg.progress}}%</div>
              <div class="pbox">
                <div class="prg" [ngStyle]="progressSize(taskjointg.progress)"></div>
             </div>
            </div>
           
       
          </div>
  
          <div class="referralbox">
            <button class="whitebtn" (click)="joinTg()">Join Telegram Group</button>
           </div>
          
        </div>
        
  
        <div class="eachtask" >
          <div class="xaflex">
            <div class="criccheck" [ngClass]="{'completedsign':taskrefer.status==true}">
              <ion-icon name="checkmark-outline" class="thecheck" *ngIf="taskrefer.status==true"></ion-icon>
            
            </div>
            <div class="cricname" *ngIf="taskrefer.status==true">completed</div>
            <div class="cricname" *ngIf="taskrefer.status==false">pending</div>
  
            <div *ngIf="taskrefer.status==true" class="amountearned">+{{taskrefer.amount}}</div>
          </div>
          <div class="ref2friends">Refer {{taskrefer.totaltask }} Friends</div> 
          <span class="tprogress">Referred ({{taskrefer.noofprocessedtask}}/{{taskrefer.totaltask }}) friends</span>
          <div class="progressbox">
            <span class="tprogress">Task progress</span>
            <div class="x2">
              <div class="xtextr">{{taskrefer.totalprogress}}%</div>
              <div class="pbox">
                <div class="prg" [ngStyle]="progressSize(taskrefer.totalprogress)"></div>
             </div>
  
            
            </div>
           
       
          </div>
  
          <div class="referralbox">
            <button class="whitebtn" (click)="shareRef(airdrop_data.shareMessage)">Share Your Referral Info </button>
           </div>
        </div>
  
        <div class="eachtask" >
          <div class="xaflex">
            <div class="criccheck" [ngClass]="{'completedsign':taskshare.status==true}">
              <ion-icon name="checkmark-outline" class="thecheck" *ngIf="taskshare.status==true"></ion-icon>
               
            </div>
            <div class="cricname" *ngIf="taskshare.status==true">completed</div>
            <div class="cricname" *ngIf="taskshare.status==false">pending</div>

            <div *ngIf="taskshare.status==true" class="amountearned">+{{taskshare.amountmade}}</div>
          </div>
          <div class="ref2friends">Share Content</div> 
  
          <span class="tprogress">Contents Shared ({{taskshare.sharecounter}}/{{taskshare.totalcounter }})</span>
          <div class="progressbox">
            <span class="tprogress">Task progress</span>
            <div class="x2">
              <div class="xtextr">{{taskshare.progress}}%</div>
              <div class="pbox">
                <div class="prg" [ngStyle]="progressSize(taskshare.progress)"></div>
             </div>
  
            
            </div>
           
       
          </div>
  
          <div class="referralbox">
            <button class="whitebtn" (click)="shareContent()">Share Content</button>
           </div>
        </div>
      </div>

      <div class="sectiontitle" *ngIf="airdrop_data.referrer=='' || !airdrop_data.referrer">Referred By?</div>

      <div class="eachtask" *ngIf="airdrop_data.referrer=='' || !airdrop_data.referrer">
        <div class="xaflex">
          <div class="cricname" style="text-transform: none;font-size: 13px !important;">Enter your referrer's refer code in the input space below.</div>
        </div>
        <div class="fullbox">

          <div class="inputbox">
            <input class="input"  [(ngModel)]="referrer_code" type="text" required>
            <span class="floating-label">Enter Referral Code</span>
        </div>
         
          </div>

          <div class="referralbox">
            <button class="whitebtn" (click)="saveReferCode()">Save</button>
           </div>

  
      </div>


      <div class="sectiontitle">More Info</div>

      <div class="eachtask" >
        <div class="xaflex">
          <div class="cricname">Giveaway/Airdrop's End Date</div>
        
        </div>

      <div class="countd" id="countdown" *ngIf="countdown">
        <div class="cdt" id="days">{{days}}</div>
        <div class="cdt" id="hours">{{hours}}</div>
        <div class="cdt" id="mins">{{minutes}}</div>
        <div class="cdt" id="secs">{{seconds}}</div>
    </div>
      </div>

    



      





      </div>

   

</ion-content>