.notisview {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background: var(--ion-background-color);
    .smallline {
        height: 3px;
        width: 50px;
        background: var(--ion-color-secondary);
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .purpbox {
        background: #fff;
        height: 300px;
        background-size: 300%;
        animation: purpanimation 15s linear infinite alternate;
    }
    .purpheader {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding: 10px 0px;
    }
    .goback {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }
    .gobackicon {
        height: 32px;
        width: 32px;
        color: var(--ion-color-secondary);
    }
    .centerdiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        background-image: url(../../assets/images/surreal_purple.svg);
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .noti {
        height: 23px;
        width: 23px;
        color: white;
    }
    .noticont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balancemodalbox {
        padding: 0px 20px;
    }
    .baltitle {
        padding: 20px;
        text-align: center;
        font-size: 12px;
        font-family: mntsreg;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0.7;
        padding-bottom: 0px;
    }
    .balancetext {
        font-size: 25px;
        font-family: mntssemibold;
        text-align: center;
        padding: 15px;
        padding-bottom: 0px;
        letter-spacing: 1px;
    }
    .smallbaltext {
        font-size: 15px;
        font-family: mntsreg;
        text-align: center;
        padding: 7px 0px;
        letter-spacing: 1px;
        padding-bottom: 20px;
        color: #5d6969;
    }

    .optionbox {
        padding: 0px 10px;
        margin: 30px 0px;
    }
    .eachoption {
        padding: 15px 20px;
        margin: 10px 0px;
       
        border-radius: 10px;
        box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.15);
    }

    .eachtitle{
        display: grid;
        align-items: center;
        grid-template-columns: 90% 10%;
    }



    .eachmessage{
        margin-top:10px;
        padding-top: 10px;
        border-top:1px solid rgba(0, 0, 0, 0.15);
        font-family:mntsreg;
        font-size: 13px;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-x: auto;
    }


    .notititle{
        font-size: 13px;
        font-family: mntssemibold;
    }


.downcee{
   height:25px;
   width:25px;
    color:var(--ion-color-primary)
}








    .opticon {
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .opttext {
        display: flex;
        align-items: center;
        font-family: mntssemibold;
        font-size: 13px;
    }
    .optnext {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-secondary);
        font-size: 20px;
        font-weight: bold;
        font-family: mntssemibold;
    }
}