<ion-content>
  <div class="frommnemonicview">
  
    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
          <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
          <div class="logo"></div>
      </div>
      <div></div>
  </div>

  <div class="balancemodalbox">
    <div class="balancemodal">
      
       
        <div class="balancetext" style="font-size: 14px;">Enter Mnemonic Phrase</div>
   
        <div class="smallline"></div>
<br>
    </div>
    </div>



    <div class="fullbox">

      <div class="inputbox">
        <input class="input" [(ngModel)]="importData.walletname" type="text" required>
        <span class="floating-label">Name</span>
    </div>

    <hr class="sepline">
      
      <textarea class="textarea" [(ngModel)]="importData.phrase" (keyup)="oninput()" placeholder="Enter Secret Phrase"></textarea>
     
      </div>

    
      <div class="typically">Typically 12 (sometimes 24) words separated by single spaces</div>


      <div class="buttonbelow" [ngClass]="{'faded': inputflag == false}">
        <button class="whitebtn" (click)="confirmImport()">Import</button>
      </div>





</div>
</ion-content>
