<ion-content>
  <div class="frommnemonicview">
  
    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
          <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
      </div>
      <div class="centerdiv">
          <div class="logo"></div>
      </div>
      <div></div>
  </div>

  <div class="balancemodalbox">
    <div class="balancemodal">
      
       
        <div class="balancetext" style="font-size: 14px;">Enter Mnemonic Phrase</div>
    <br>
        <div class="smallline"></div>
<br>
    </div>
    <br>
    <textarea>
      
    </textarea>
</div>







  
  
  </div>
</ion-content>
