<ion-content>
  <div class="swaptokenview view {{wallet.appPlatform}}">


    <div class="purpheader">
      <div class="goback" (click)="router.goBack()">
        <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
    </div>
      <div class="centerdiv">
        <div class="logo"></div>
      </div>
      <div></div>
    </div>
  
  <div class="balancetext">Swap Assets</div>
  <div class="smallline"></div>



<div class="sahgbox">

  <div class="glass">

      <div>

      <div class="youdo"><span>You Pay</span></div>

      <div class="slashings">
       <input class="valueinput" placeholder="0" (keyup)="swapFunc('fromtoken',fromtokenvalue)"  [(ngModel)]="fromtokenvalue">

       <div class="ximgcont" (click)="selectFromtoken()">
        <img class="tokenimg" src="{{fromtoken.img || fromtoken.logoURI}}">
        <span class="tokenname">{{fromtoken.symbol}}</span>
       </div>


       <div class="downbtn" (click)="selectFromtoken()">
         <ion-icon name="chevron-down-outline"></ion-icon>
        </div>

        
      </div>

      <div class="conver">
        <div class="converclass">
          <span class="conversign"><ion-icon name="return-down-forward-outline"></ion-icon></span> 
          <span class="convertext">${{numberize(swap.fromtokenusd)}}</span>
        </div>
      

        <div class="coinbal">Balance: {{fromtoken.coinbalance}} {{fromtoken.symbol}}</div>
      </div>
    
      </div>

      <div class="exchangecirc">
        <ion-icon name="swap-vertical-outline" class="exd"></ion-icon>
      </div>

      <div>

        <div class="youdo"><span>You Receive</span></div>
  
        <div class="slashings">
         <input class="valueinput" placeholder="0"  (keyup)="swapFunc('totoken',totokenvalue)" [(ngModel)]="totokenvalue">
  
         <div class="ximgcont" (click)="selectTotoken()">
          <img class="tokenimg" src="{{totoken.img || totoken.logoURI}}">
          <span class="tokenname">{{totoken.symbol}}</span>
         </div>
  
  
         <div class="downbtn" (click)="selectTotoken()">
           <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
  
          
        </div>
  
        <div class="conver">
          <div class="converclass">
            <span class="conversign"><ion-icon name="return-down-forward-outline"></ion-icon></span> 
            <span class="convertext">${{numberize(swap.totokenusd)}}</span>
          </div>
      
        </div>
      
        </div>
  

      

  </div>

</div>


<div class="buttonbelow">
  <button class="whitebtn" (click)="clickswap()" [ngClass]="{'faded': fromtokenvalue <= 0 || totokenvalue <= 0 || fromtokenusd <= 0 || totokenusd <= 0 || !fromtoken.name || !totoken.name || successflag==false}">Continue</button>
</div>


<div class="rednote" *ngIf="currentNetwork != 'mainnet'">
  <div class="note">NOTE</div>
  <div>
    Token swap is only available on the mainnet,switch network to ethereum mainnet to use token swap.
  </div>
</div>





  </div>

</ion-content>