<ion-content>
  <div class="swaptokenview">


    <div class="purpheader">
      <div class="goback">
       
      </div>
      <div class="centerdiv">
        <div class="logo"></div>
      </div>
      <div></div>
    </div>
  
  <div class="balancetext">Swap Coins</div>
  <div class="smallline"></div>



<div class="sahgbox">
  <div>

  <div><span>You Pay</span> <span>Balance:</span></div>
  <div></div>
  <div>~ <span>$0.00</span></div>

  </div>
  

  <hr>

  <div>

    <div><span>You Receive</span></div>
    <div></div>
    
  
  </div>

</div>






  </div>

</ion-content>