<ion-content>

    <div class="txview view">

        <div class="purpheader">
            <div class="goback" (click)="router.goBack()">
                <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
            </div>
            <div class="centerdiv">
                <div class="logo"></div>
            </div>
            <div></div>
        </div>

        <div class="nother">
            <div class="txvalue"><span *ngIf="refinedTxData.type=='receiving'">+</span><span *ngIf="refinedTxData.type=='sending'">-</span>{{refinedTxData.tokenvalue}} {{mytoken.symbol}}</div>

            <div class="swapiconbox">
                <ion-icon name="swap-vertical-outline" class="exd"></ion-icon>
            </div>

            <div class="usdval">$ {{refinedTxData.tokenvalueusd}}</div>
        </div>

        <div class="txbox">
            <div class="eachdet">
                <span class="lspan">Date</span>
                <span class="rspan">{{refinedTxData.refinedDate}}</span>
            </div>

            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Status</span>
                <div class="rspan statussh">
                    <div class="statuscirc statuspending" [ngClass]="{'statuspending':refinedTxData.txstatus=='pending','statuscompleted':refinedTxData.txstatus=='completed'}"></div>
                    <div>
                        <span *ngIf="refinedTxData.txstatus=='pending'">Pending</span>
                        <span *ngIf="refinedTxData.txstatus=='completed'">Completed</span>
                    </div>
                </div>

            </div>

            <hr class="detline">

            <div class="eachdet">

                <span *ngIf="refinedTxData.type=='receiving'">
                    <span class="lspan">Sender</span>
                <span class="rspan" (click)="copyStr(refinedTxData.from)">{{refinedTxData.shortFrom}}</span>
                </span>

                <span *ngIf="refinedTxData.type=='sending'">
                    <span class="lspan">Recipient</span>
                <span class="rspan" (click)="copyStr(refinedTxData.to)">{{refinedTxData.shortTo}}</span>
                </span>



            </div>
            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Network Fee</span>
                <span class="rspan">{{refinedTxData.gasFee}} ETH (${{refinedTxData.gasFeeUsd}})</span>
            </div>



        </div>


        <div class="viewblockexp" (click)="goToExplorer(refinedTxData.hash)">View on block explorer</div>




    </div>





</ion-content>