<ion-content>

    <div class="txview">

        <div class="purpheader">
            <div class="goback" (click)="router.goBack()">
                <ion-icon name="chevron-back-outline" class="gobackicon"></ion-icon>
            </div>
            <div class="centerdiv">
                <div class="logo"></div>
            </div>
            <div></div>
        </div>

        <div class="nother">
            <div class="txvalue">+0.033 ETH</div>

            <div class="swapiconbox">
                <ion-icon name="swap-vertical-outline" class="exd"></ion-icon>
            </div>

            <div class="usdval">$300.00</div>
        </div>

        <div class="txbox">
            <div class="eachdet">
                <span class="lspan">Date</span>
                <span class="rspan">26 May at 10:36 PM</span>
            </div>

            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Status</span>
                <div class="rspan statussh">
                    <div class="statuscirc statuspending"></div>
                    <div>Pending</div>
                </div>

            </div>

            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Recipient</span>
                <span class="rspan">0x1037...Fcd5</span>
            </div>
            <hr class="detline">

            <div class="eachdet">
                <span class="lspan">Network Fee</span>
                <span class="rspan">0.0035 ETH ($0.23)</span>
            </div>



        </div>













    </div>





</ion-content>