/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

// slides.component.css
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'mntsreg';
    src: url('./assets/font/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'mntssemibold';
    src: url('./assets/font/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'tekomedium';
    src: url('./assets/font/Teko-Medium.ttf');
}

@font-face {
    font-family: 'carter';
    src: url('./assets/font/CarterOne-Regular.ttf');
}

@font-face {
    font-family: 'germania';
    src: url('./assets/font/GermaniaOne-Regular.ttf');
}



* {
    box-sizing: border-box;
}

  
*:focus{
    outline: none;
}

*:focus-visible{
    outline: none;
}


body {
    font-family: mntsreg !important;
}

.purpheader{
    position: fixed;
    width:100%;
    z-index:1;
    top: 0;
}

.buttonbelow{
    position:absolute !important;
    width:100% !important;
    z-index:0 !important;
}

.view{
    padding-bottom: 92px !important;
    position: static !important;     
}




//View
.view.web{
    padding-top: 92px !important;
}

.view.android{
    padding-top: 102px !important;
    .purpheader{
        top:10px !important;
      }

      .buttonbelow{
       bottom: 20px !important;
      }
}


.view.ios{
    padding-top: 135px;

    .purpheader{
        top:43px !important;
      }

      .buttonbelow{
       bottom: 20px !important;
      }
}


// walletview

.walletview.web{
    padding-top: 0px !important;   
}

.walletview.android{
    padding-top: 0px !important;
    

    .purpbox{  
        height: 320px !important;
      }
      
      .purpheader{
        top:10px !important;
      }
    
      .balancemodal{
        margin-top:70px !important;
      }
    
    }

.walletview.ios{
padding-top: 0px !important;

  .purpbox{  
    height: 367px !important;
  }

  .purpheader{
    top:43px !important;
  }

  .balancemodal{
    margin-top:105px;
  }

}

// sending select
.sendingselectview.web{
    padding-top: 0px !important;
}


.sendingselectview.ios{
    padding-top: 55px !important;

    .header{
     top:50px;
    }

}

.sendingselectview.android{
    padding-top: 10px !important;
    .header{
        top:10px;
       }
}




// receiving select

.receivingselectview.web{
    padding-top: 0px !important;
}


.receivingselectview.ios{
    padding-top: 55px !important;
    .header{
        top:50px;
       }
}

.receivingselectview.android{
    padding-top: 10px !important;
    .header{
        top:10px;
       }
}


//downnav

.downnav.web{
    padding-bottom: 20px !important;
}

.downnav.ios{
    padding-bottom: 33px !important;
}

.downnav.android{
    padding-bottom: 20px !important;
}





.notipanel.ios{
    padding-top: 53px !important;
}

.popupdiv.ios {
    .popaction{ 
        bottom:20px !important;
    }
    
    .popupminiheight{
        height:32%;
      }
      
      
      .popupmaxheight{
        height:52%;
      }

    
}

.popupdiv.android {
    .popaction{ 
        bottom:10px !important;
    }
    
    
}

.opaqueheader{
    background: rgba(106, 13, 173, 0.23) !important;
}
