  .dark{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 10px 0px;
    /* From https://css.glass */
    background:transparent;
  

        .eachdnav {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .eachdnavicon{
            height: 28px;
            width: 28px;
            color:rgba(255, 255, 255, 0.30);
        }

        .eachdnavactive .eachdnavicon {
            color: rgba(255, 255, 255, 1) !important;
        }
    }

    .light{

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        padding: 10px 0px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.97);
        

        .eachdnav {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .eachdnavicon{
            height: 28px;
            width: 28px;
            color: rgba(106, 13, 173, 0.23);
        }

        .eachdnavactive .eachdnavicon {
            color: var(--ion-color-secondary)!important;
        }
    }

